<a href="https://colab.research.google.com/github/afzalasar7/Data-Science/blob/main/Week%208/Pandas%20Assignment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [4]:
l = ["Numbers", 4, 8, 15, 16, 23, 42]
series = pd.DataFrame(l)
series

         0
0  numbers
1        4
2        8
3       15
4       16
5       23
6       42

# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [5]:
l = pd.DataFrame(list(range(100,1001, 100)))
l

      0
0   100
1   200
2   300
3   400
4   500
5   600
6   700
7   800
8   900
9  1000

## Q3. Create a Pandas DataFrame that contains the following data:
![image.png]()

In [8]:
table = pd.DataFrame({"Name": ["Alice", "Bob", "Claire"],
                      "Age": [25,30,27],
                      "Gender":[ "Female", "Male", "Female"]
                      })
table

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# Q4. What is a 'DataFrame' in pandas and how is it different from pandas.Series? Explain with an example.

**DataFrame in pandas:**
A DataFrame is a 2-dimensional data structure in pandas that can store data in tabular form, similar to a spreadsheet or a SQL table. It consists of rows and columns, where each column can have a different data type. You can think of it as a collection of Series objects aligned along a common index.

**Difference between DataFrame and pandas.Series:**
- DataFrame: A DataFrame is a 2D data structure with rows and columns, capable of holding different data types. It is used for working with tabular data and allows you to perform various operations on the entire dataset.
- Series: A Series is a 1D data structure, which is essentially a single column of data with an associated index. It is used for working with a single sequence of data and supports various array operations.

**Example:**
Let's consider an example where we have data on students and their corresponding grades. We can use a DataFrame to store this data.

```python
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 22, 28],
    'Grade': [85, 92, 78]
}
df = pd.DataFrame(data)

print(df)
```

Output:
```
      Name  Age  Grade
0    Alice   25     85
1      Bob   22     92
2  Charlie   28     78
```

In this example, we have created a DataFrame with three columns: 'Name', 'Age', and 'Grade'. Each column is a pandas Series, and they share the same index (0, 1, 2) that aligns the data correctly within the DataFrame.

# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Some common functions include:

1. `loc` and `iloc`: Used for indexing and selecting specific rows and columns in a DataFrame.
2. `head` and `tail`: Used to display the first or last few rows of the DataFrame.
3. `drop`: Used to remove rows or columns from the DataFrame.
4. `merge` and `concat`: Used for combining DataFrames based on common columns or row concatenation.
5. `groupby`: Used for grouping data based on one or more columns and performing aggregate operations.
6. `apply`: Used to apply a function along rows or columns of the DataFrame.

**Example:**
Let's consider an example where we have data on students' test scores, and we want to calculate the average score for each subject.

```python
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Math': [85, 92, 78],
    'Science': [90, 88, 82],
    'English': [78, 85, 80]
}

df = pd.DataFrame(data)

# Calculating the average score for each subject
average_scores = df[['Math', 'Science', 'English']].mean()

print(average_scores)
```

Output:
```
Math       85.000000
Science    86.666667
English    81.000000
dtype: float64
```

In this example, we used the `mean()` function to calculate the average scores for each subject (Math, Science, and English) from the DataFrame.

# Q6. Which of the following is mutable in nature: Series, DataFrame, Panel?

**Mutable in nature:**
- A mutable object is one that can be changed after creation. In Python, lists and dictionaries are examples of mutable objects, meaning you can modify their contents.

**Immutable in nature:**
- An immutable object is one that cannot be changed after creation. Examples in Python include tuples and strings, which do not support in-place modifications.

**Answer:**
- In the context of pandas, both Series and DataFrame are mutable in nature. You can modify their contents by adding, removing, or updating data.
- The Panel, on the other hand, is not a recommended data structure in recent versions of pandas and has been deprecated. It was a 3-dimensional data structure that allowed storing and manipulating data across three dimensions. In newer versions, you can achieve the same using MultiIndexing with DataFrame.

# Q7. Create a DataFrame using multiple Series. Explain with an example.

You can create a DataFrame in pandas by using multiple Series objects. Each Series will represent a column in the resulting DataFrame, and pandas will align the data based on their index.

**Example:**
Let's create a DataFrame representing the sales data of products in different regions.

```python
import pandas as pd

# Creating multiple Series representing sales data
product_names = pd.Series(['Product A', 'Product B', 'Product C'])
region_1_sales = pd.Series([100, 150, 80])
region_2_sales = pd.Series([120, 130, 70])

# Combining Series to create a DataFrame
data = {
    'Product': product_names,
    'Region 1 Sales': region_1_sales,
    'Region 2 Sales': region_2_sales
}

df = pd.DataFrame(data)

print(df)
```

Output:
```
     Product  Region 1 Sales  Region 2 Sales
0  Product A             100             120
1  Product B             150             130
2  Product C              80              70
```

In this example, we first created three Series: `product_names`, `region_1_sales`, and `region_2_sales`. Then, we combined these Series into a DataFrame called `df`, where each Series represents a column in the DataFrame. The resulting DataFrame displays the sales data of three products in two different regions.