<a href="https://colab.research.google.com/github/afzalasar7/Data-Science/blob/main/Week6/Data_Science_Course_6_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1. What is a database? Differentiate between SQL and NoSQL databases.
A1. A database is a structured collection of data that is organized and managed to support efficient storage, retrieval, and manipulation of data. It provides a way to store and manage large amounts of structured and unstructured data.

SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems:

SQL databases:
- SQL databases are based on a relational model and use structured query language (SQL) for defining and manipulating the data.
- They have a predefined schema that defines the structure of the data.
- SQL databases ensure data integrity through ACID (Atomicity, Consistency, Isolation, Durability) properties.
- Examples of SQL databases include MySQL, PostgreSQL, Oracle.

NoSQL databases:
- NoSQL databases are designed to handle unstructured and semi-structured data, providing flexible schemas.
- They do not rely on SQL for defining and manipulating data, instead using different query languages or APIs.
- NoSQL databases are horizontally scalable, making them suitable for handling large volumes of data.
- They offer high availability and scalability, but may sacrifice some data consistency.
- Examples of NoSQL databases include MongoDB, Cassandra, Redis.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
A2. DDL stands for Data Definition Language. It is a subset of SQL used to define and manage the structure of the database. The DDL statements include:

- CREATE: Used to create new database objects such as tables, views, indexes, etc.
```sql
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);
```

- DROP: Used to delete database objects like tables, views, indexes, etc.
```sql
DROP TABLE employees;
```

- ALTER: Used to modify the structure of an existing database object.
```sql
ALTER TABLE employees ADD COLUMN salary DECIMAL(10,2);
```

- TRUNCATE: Used to remove all rows from a table while keeping its structure intact.
```sql
TRUNCATE TABLE employees;
```

These DDL statements allow for the creation, modification, and deletion of database objects, allowing developers to define and manage the structure of the database according to their needs.

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
A3. DML stands for Data Manipulation Language. It is used to manage and manipulate the data within the database. The DML statements include:

- INSERT: Used to insert new records into a table.
```sql
INSERT INTO employees (id, name, age) VALUES (1, 'John Doe', 30);
```

- UPDATE: Used to modify existing records in a table.
```sql
UPDATE employees SET age = 31 WHERE id = 1;
```

- DELETE: Used to remove records from a table.
```sql
DELETE FROM employees WHERE id = 1;
```

These DML statements allow for the insertion, modification, and deletion of data within the database tables.

# Q4. What is DQL? Explain SELECT with an example.
A4. DQL stands for Data Query Language. It is used to retrieve data from the database. The most commonly used DQL statement is SELECT:

- SELECT: Used to retrieve data from one or more tables based on specified conditions.
```sql
SELECT * FROM employees;
```

The SELECT statement allows you to specify the columns to retrieve, filter the data using WHERE clause, perform calculations and transformations, join multiple tables, and more.

# Q5. Explain Primary Key and Foreign Key.
A5. In database design,

 primary key and foreign key are used to establish relationships between tables:

- Primary Key: A primary key is a column or set of columns that uniquely identifies each row in a table. It ensures the uniqueness and integrity of the data within the table. Only one primary key is allowed per table.
```sql
CREATE TABLE employees (
    id INT PRIMARY KEY,
    name VARCHAR(50),
    age INT
);
```

- Foreign Key: A foreign key is a column or set of columns in one table that refers to the primary key of another table. It establishes a relationship between the two tables, enforcing referential integrity.
```sql
CREATE TABLE orders (
    order_id INT PRIMARY KEY,
    product_id INT,
    customer_id INT,
    FOREIGN KEY (product_id) REFERENCES products (id),
    FOREIGN KEY (customer_id) REFERENCES customers (id)
);
```

In the example above, the "orders" table has foreign keys (product_id, customer_id) that reference the primary keys of the "products" and "customers" tables, respectively. This ensures that the data in the "orders" table references valid records in the related tables.

# Q6. Write a Python code to connect MySQL to Python. Explain the cursor() and execute() method.
A6. Here's an example code to connect MySQL to Python using the `mysql-connector-python` library:

```python
import mysql.connector

# Establish connection
connection = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

# Create a cursor object
cursor = connection.cursor()

# Execute SQL query
query = "SELECT * FROM employees"
cursor.execute(query)

# Fetch and print the results
for row in cursor.fetchall():
    print(row)

# Close cursor and connection
cursor.close()
connection.close()
```

In this code, the `mysql.connector` module is used to establish a connection to the MySQL database. The `connect` method is called with the appropriate parameters, such as the host, username, password, and database name.

After establishing the connection, a cursor object is created using the `cursor()` method of the connection object. The cursor allows executing SQL queries and fetching the results.

The `execute()` method of the cursor object is used to execute an SQL query. In this example, a SELECT query is executed to retrieve all rows from the "employees" table.

The results are fetched using the `fetchall()` method, and then each row is printed.

Finally, the cursor and connection are closed to release the resources.

# Q7. Give the order of execution of SQL clauses in an SQL query.
A7. In a typical SQL query, the order of execution of clauses is as follows:

1. FROM: Specifies the table(s) from which the data is retrieved.
2. JOIN: If multiple tables are involved, JOIN clauses are used to combine the related tables.
3. WHERE: Filters the data based on specified conditions.
4. GROUP BY: Groups the data based on specified columns.
5. HAVING: Filters the grouped data based on specified conditions.
6. SELECT: Specifies the columns to retrieve from the data.
7. DISTINCT: Removes duplicate rows from the result set.
8. ORDER BY: Sorts the result set based on specified columns.
9. LIMIT: Specifies the number of rows to be returned.

It's important to note that not all clauses are required in every SQL query. The order and inclusion of clauses depend on the specific query requirements.